@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos base adicionales si los necesitas */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb; /* bg-gray-50 */
}